.card-position {
    max-width: 40rem;
    max-height: 50rem;
    margin-top: 100px;
    margin-left: 380px;
    width: 800px;
    height: 300px;
}

.img-student{
    width: 550px;
    height: 300px;
    margin-top: -155px; 
    margin-left: -850px; 
}



